<script lang="ts" setup>
import { ref } from "vue";
const showBtn = ref("Smile");
const img = ref("../../feeling_imgs/smile.png");
</script>
<template>
  <v-container>
    <v-row>
      <v-col class="d-flex justify-center align-center ma-10">
        <v-img :src="img" max-width="500px"></v-img>
      </v-col>

      <v-row>
        <v-col col="6">
          <v-col class="ma-2">
            <h1 class="text-center">{{ showBtn }}</h1>
          </v-col>
          <v-btn
            width="100%"
            class="ma-2"
            @click="(showBtn = 'Angry'), (img = '../../feeling_imgs/angry.png')"
            >ANGRY</v-btn
          ><br />
          <v-btn
            width="100%"
            class="ma-2"
            @click="(showBtn = 'Cute'), (img = '../../feeling_imgs/cute.png')"
            >CUTE</v-btn
          ><br />
          <v-btn
            width="100%"
            class="ma-2"
            @click="
              (showBtn = 'Excited'), (img = '../../feeling_imgs/excited.png')
            "
            >EXCITED</v-btn
          ><br />
          <v-btn
            width="100%"
            class="ma-2"
            @click="(showBtn = 'Pain'), (img = '../../feeling_imgs/pain.png')"
            >PAIN</v-btn
          ><br />
          <v-btn
            width="100%"
            class="ma-2"
            @click="
              (showBtn = 'Shocked'), (img = '../../feeling_imgs/shocked.png')
            "
            >SHOCKED</v-btn
          ><br />
          <v-btn
            width="100%"
            class="ma-2"
            @click="(showBtn = 'Smile'), (img = '../../feeling_imgs/smile.png')"
            >SMILE</v-btn
          >
        </v-col>
      </v-row>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}
</style>
