<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

class Product {
  id: number;
  name: string;
  price: number;
  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

const total = ref(0);

function addBtn(id: number, name: string, price: number) {
  const product = new Product(id, name, price);
  console.log(product);
  productList.value.push(product);
  console.log(productList);
  total.value = total.value + price;
}

const productList = ref<Product[]>([]);
</script>

<template>
    <v-row class="ma-10">
    <v-col>
      <v-container style="overflow: auto; max-height: 45vw">
        <v-row>
          <v-col cols="4" v-for="item in products" :key="item.id" class="text-center">
            <v-card class="mx-auto" max-width="200" height="120">
              <v-card-title>{{ item.name }}</v-card-title>
              <v-card-subtitle>{{ item.price }}</v-card-subtitle>
              <v-btn @click="addBtn(item.id, item.name, item.price)">ADD</v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
    <v-col>
      <v-container style="overflow: auto; height: 35vw">
        <v-row>
          <v-col>ID</v-col>
          <v-col>NAME</v-col>
          <v-col>PRICE</v-col>
        </v-row>
        <v-row v-for="(item, index) in productList" :key="index">
          <v-divider></v-divider>
          <v-col cols="2">{{ item.id }}</v-col>
          <v-col>{{ item.name }}</v-col>
          <v-col>{{ item.price }}</v-col>
        </v-row>
        <v-row v-if="productList.length === 0">
          <v-divider></v-divider>
          <v-col class="text-center ma-5">NO Data</v-col>
        </v-row>
      </v-container>
      <v-row style="font-size: 2vw">Sum: {{ total }}</v-row>
    </v-col>
  </v-row>
</template>
