<script lang="ts" setup>
import { ref } from "vue";
const num = 0;
const title = ref(num);
</script>

<template>
  <v-text-field
    label="Please input number"
    type="number"
    :rules="[(v) => !!v || 'Number is not empty!!']"
    v-model.number="title"
  ></v-text-field>
  <v-row>
    <v-col v-for="i in title" :key="i" cols="1">
      {{ i }}
    </v-col>
  </v-row>
</template>

<style scoped></style>
