<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <p>First Component</p>
  <div>{{ counterStore.count }}</div>
  <br />
  <v-btn @click="counterStore.increment()">INCREMENT</v-btn>
</template>
