<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <p>Second Component</p>
  <p>{{ counterStore.count * 2 }}</p>
  <br />
  <v-btn @click="counterStore.decrease()">DECREASE</v-btn>
</template>
